
<% include ../partials/header.ejs %>

<h1>edit campground</h1>

<form action="/campgrounds/<%=campground._id%>?_method=put" method="post">
    <input class="form-control" type="text" name="campground[name]" value="<%=campground.name%>"> </input>
    <input class="form-control" type="text" name="campground[url]" value="<%=campground.url%>"> </input>
    <input class="form-control" type="text" name="campground[desc]" value="<%=campground.desc%>"> </input>

    <button class="btn btn-primary btn-lg"> submit </button>
</form>
<% include ../partials/footer.ejs %>