
<% include ../partials/header.ejs %>
<div class="container">
        <h1 id="indexHeader" >Picked By Our Explorers</h1>
        <p> <a href="/campgrounds/new" class="btn btn-success">Add new place</a></p>
        <div class="row">
            <% campgrounds.forEach(function(campground){ %>
            <div class="img-thumbnail col-md-4 col-sm-6">
                <img class="mw-100" src="<%= campground.url %>"> </img>
                <p class="text-center"> <%= campground.name %> </p>
                <div class="text-center">
                    <a class="btn btn-primary btn-sm " href="/campgrounds/<%=campground._id %>">view more details</a>
                </div>  
            </div>
          
        <% }); %> 
            
            
            
        </div>
       

    
</div>
<% include ../partials/footer.ejs %>
